.post {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-800);
  padding: 2rem;
  border-radius: 8px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 1.5rem;
}

.differentText {
  color: var(--blue-500);
}

.tags {
  display: flex;
  gap: 5px;
}
