.post {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-800);
  padding: 2rem;
  border-radius: 8px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 1.5rem;
}

.differentText {
  color: var(--blue-500);
}

.tags {
  display: flex;
  gap: 5px;
}

.commentForm {
  border-top: 1px solid var(--gray-700);
  padding: 1.5rem 0;
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.commentForm b {
  color: var(--gray-100);
}

.commentForm textarea {
  background-color: var(--gray-900);
  border-radius: 8px;
  color: var(--gray-100);
  padding: 8px;
}
